/* body {
    width: 100%;
    overflow-x: hidden;
} */

/* bootstrap ======================== */
header .navbar {
    background-color: #645CAA;
}

header ul li a {
    color: #0F3460 !important;
}

header ul li a:hover {
    color: #EBC7E8 !important;
}

header .active {
    color: #EBC7E8 !important;
}

header .dropdown {
    margin-right: 4rem;
}

/* define style ================================ */
.joan-bold,
.joan {
    font-family: 'joan';
}

.joan-bold {
    font-weight: bold;
}

.text-purp {
    color: #16213E;
}

.text-purp-smooth {
    color: #645caa;
}

.hidden {
    display: none;
}

/* style login ====================================== */
.form-signin .joan-bold {
    font-size: 5rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input {
    border-radius: 0;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
}

.icon {
    top: 0.65rem;
    right: 1rem;
}